@import './_variables'
@import './_normalize'
@import '_fonts.sass'

body 
    background-color: $bgcolor
    padding: 0px
    margin: 0px
    display: flex
    justify-content: center
    align-items: center

#root
    height: 100%
