@import '../../sass/_variables'

.wrapper 
    display: flex
    justify-content: space-between
    flex-direction: column
    font-family: $font
    padding: 0px 30px
    width: 500px
    height: 100vh
    outline: 5px solid black
    outline-offset: -5px

    
    